{% load static %}
<html>
    <head>
        <title>Ewa's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
                     {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <p class="top-menu">Hejka {{ user.username }} ! <small>(<a href="{% url 'logout' %}" class = "loguout">log out</a>)</small></p>
            <h1><a href="{% url 'post_list' %}">BLOG by ewekmarchewek!</a></h1>
                     {% endif %}
            <h1><a href="/">BLOG by ewekmarchewek!</a></h1>
             {% if user.is_authenticated %}
			<p class="text-end"><a href="{% url 'change_password' %}">tutaj zmienisz hasło</a></p>
                    {% else %}
            <p class="text-start"><a href="{% url 'register' %}">tutaj się zarejestrujesz</a></p>
			<p class="text-start"><a href="{% url 'login' %}">tutaj się zalogujesz</a></p>
			<p class="text-start"><a href="{% url 'reset_password' %}">tutaj zresetujesz hasło</a></p>
                    {% endif %}

        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-12 text-justify">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>